*{
    margin: 0;
  }

  .header {
    background-color: #fafafa;
    height: 100vh;
  }

  .header__login {
    background-color: white;
    padding: 20px;
    border-bottom: 1px solid lightgray;
    object-fit: contain;
  }